@import '../../../css/global/variables.css';

.mapa {
    display: flex;
    background-color: #3B4444;
    width: 80%;
    height: 500px;

    margin: 0 auto; 
    
    position: relative;
    top: 40px; 
    border-radius: 20px;
    backdrop-filter: blur(3px);   
    overflow: hidden;
}