@import '../../../css/global/variables.css';

.mapa {
    display: flex;
    background-color: #3B4444;
    width:80%;
    align-self: center;
    justify-self: center;
    height: 500px;
    position: relative;
    top: 40px;
    border-radius: 20px;
    backdrop-filter: blur(3px);   
}