.pai-input-ecomap {
    display: flex;
    align-items: center; 
    position: relative;
    margin: 20px auto; 

    width: 90%; 
    max-width: 420px;
    height: 45px; 

    background-color: #2D3A3A; 
    border-radius: 20px;
    padding: 0 10px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}