# --- CONFIGURAÇÕES DE ACESSO AO BANCO DE DADOS ---
# Formato: postgresql://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=postgresql://postgres:sua_senha_aqui@localhost:5432/nome_do_banco

# --- SEGURANÇA JWT ---
# Dica: Você pode gerar uma chave aleatória no terminal python com: secrets.token_hex(32)
JWT_SECRET_KEY=sua_chave_secreta_jwt_aqui

# Aqui vamos indicar se o projeto está execuntando em produção ou em desenvolvimento.
FLASK_ENV=development

# --- GOOGLE RECAPTCHA V2 ---
# Obtenha em: https://www.google.com/recaptcha/admin
RECAPTCHA_SITE_KEY=sua_site_key_publica_aqui
RECAPTCHA_SECRET_KEY=sua_secret_key_privada_aqui