@import './PARTIES/header-ecomap.css';
@import './PARTIES/menu-ecomap.css';
@import './../../CSS/GLOBAL/Normalizer.css';
@import './PARTIES/img-header-ecomap.css';
@import '../../CSS/GLOBAL/Variables.CSS';
@import './PARTIES/botao-ecomap.css';
@import './PARTIES/legenda-ecomap.css';
@import './PARTIES/pai-botoes-mapa.css';
@import './PARTIES/mapa.css';
@import './PARTIES/pai-input-ecomap.css';
@import './PARTIES/input-ecomap.css';
@import './PARTIES/i-ecomap-pesquisa.css';
@import './PARTIES/icone-botao.css';






html {
    background-color: var(--Cor-fundo);
}

h1 {
    color: #fff;
    display: flex;
    position: relative;
    left: 100px;
    width: 50px;
}