@import '../../CSS/GLOBAL/Global.css';
@import './PARTIES/Header.CSS';
@import './PARTIES/Section_um.css';
@import './PARTIES/imagem_icone_Ecocycle.css';
@import './PARTIES/imagem_index.css';
@import './PARTIES/Section_dois.css';
@import './PARTIES/Botao_index.css';
@import './PARTIES/tab.css';
@import './PARTIES/section-tres.css';
@import './PARTIES/filho-section-tres.css';
@import './PARTIES/filho-texto.css';
@import './PARTIES/img-carrosel.css';
@import './PARTIES/filho-carrosel.css';
@import './PARTIES/titulo-section-tres.css';
@import './PARTIES/carrosel-controles.css';


html {
    background-color: var(--Cor-fundo);
    max-width: 100%;
    height: 100%;
}




