@import '../../../css/global/variables.css';


.header-ecomap{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: var(--Cor-fundo);
    width: 70vw;
    min-height: 10vh; 
    
    margin: 0 auto 10px auto; 
    padding: 0 2rem; 
    
    border-bottom: 5px solid var(--Cor-verde);
    box-sizing: border-box; 
}

.img-header-ecomap {
    display: flex;
    position: relative;
    top: 15px;
    height: 40px;
}
