.menu-ecomap {
    position: relative;
    justify-self: center;
    justify-items: flex-start;
    margin-bottom: 40px;
}

.menu-ecomap > ul {
    color: white;
    position: relative;
    justify-self: center;
    justify-items: flex-start;
    display: flex;
    list-style: none;
}

.menu-ecomap > ul > li {
    margin-right: 30px;
}

.menu-ecomap > ul > li:first-child {
    background-color: var(--Cor-verde);
    border-radius: 5px;
}

.menu-ecomap > ul > li > a {
    text-decoration: none;
    color: white;
}

.home {
     padding: 2px 10px 2px 10px;
}