@import '../../../CSS/GLOBAL/Variables.CSS';

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 35vw;
    height: 80vh;
    position: relative;
    top: 100px;
    background-color: var(--Cor-fundo);
    gap: 10px;
}


.formulario-login > h1 {
    position: relative;
    align-self: center;
    margin-bottom: 10px;
}

.formulario-login > p {
    position: relative;
    align-self: center;
    margin-bottom: 40px;


}

.formulario-login > a {
    position: relative;
    align-self: center;
    text-decoration: none;
    color: white;
    border-bottom: 1px green solid;
}
