@import '../../../CSS/GLOBAL/Variables.CSS';

.input-formulario {
    background-color: var(--Cor-cinza);
    height: 40px;
    border-radius: 5px;
    display: inline-block;
}

.input-formulario::placeholder {
    position: relative;
    left: 40px;
}

