@import '../../../CSS/GLOBAL/Variables.CSS';

.filho-section-tres {
    background-color: var(--Cor-fundo);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: white;
    width: 90vw;
    height: 450px;
    gap: 80px;
    border-radius: 10px;

}