<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/scripts/cadastro.js"></script>
    <script src="../static/scripts/Auth.js"></script>
    <link rel="website icon" href="../static/imagens/icons8-reciclagem-50 1.png">
    <link rel="stylesheet" href="../static/pages/cadastro/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <form class="formulario-cadastro">
        
        <img class="img-cadastro" src="../static/imagens/recycle-icon-93a07e 1.png" alt="">
        <h1>Eco Cycle</h1>
        <p>Registre-se e comece a usar!</p>
        <br>
        <label for="text">Nome</label>
        <input id="name" class="input-cadastro" placeholder="Nome de Usuário" type="text">
        
        <label for="email">Endereço de Email</label>
        <input id="email" class="input-cadastro"  placeholder="joãopaulo55@gmail.com" type="email">
        
        <label for="password">Senha</label>
        <input id="password" class="input-cadastro" placeholder="****************" type="password">
        
        <button class="botao-cadastro" type="submit">Registrar-se agora</button>

    </form>
    <script src="../static/scripts/cadastro.js"></script>
</body>
</html>