<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/scripts/index.js" type="text/javascript" ></script>
    <link rel="stylesheet" href="../static/pages/index/index.css">
    <link rel="website icon" href="../static/imagens/icons8-reciclagem-50 1.png">
    <title>|-Ecomap</title>
</head>
<body>
    <header>
            <img class="banner" src="../static/imagens/Banner_EcoCycle-removebg-preview 1.png" alt="">
    </header>

    <section class="section-um">
        <ul>
            <li><a class="home" href="#">HOME</a></li>
            <li><a href="#">SERVIÇOS</a></li>
            <li><a href="#">ECOMAP</a></li>
        </ul>
    </section>

    <section class="section-dois">
        <div class="pai-texto">
            <h1><span class="h1">Lixo</span> no Lixo ?</h1>
            <h2 class="titulo2">Não, no <span class="h1">cesto Certo!</span></h2>
        </div>

        <p class="paragrafo">A reciclagem é um processo fundamental para a preservação do meio ambiente. Ao transformar materiais que seriam descartados em novos produtos, reduzimos a quantidade de lixo nos aterros sanitários, conservamos recursos naturais e diminuímos a poluição. A coleta seletiva é a primeira etapa desse processo, separando os materiais recicláveis por tipo, como papel, plástico, vidro e metal.</p>
    </section>

    <button  type="submit" id="botao-principal" class="botao-primario"> Conheça nossas soluções   &gt; </button>

    <img  class="imagem-fundo" src="../static/imagens/AdobeStock_603470569-scaled 1 (1).png" alt=""> 
    <section id="section-tres" class="section-tres">
        <div id="filho-texto">
            <h1>Somos uma cooperativa que ajuda o meio ambiente!</h1>
            <p>Fazemos e realizamos serviços para colaborar e ajudar a sobrevivência do nosso planeta terra!</p>
            <button id="botao-section-tres">Quero fazer parte &gt;</button>
        </div>
        <h1 id="titulo-section-tres" >Nossos Projetos</h1>
        <div class="filho-section-tres">
            <div class="filho-carrosel">
                <h2>Escola Verde</h2>
                <img id="img-carrosel" src="../static/imagens/Captura de tela 2025-02-12 141355.png" alt="">
                <h3>Sobre</h3>
                <p>Nesse projeto fazemos ações de incentivo a reciclagem nas escolas</p>
            </div>
            <div class="filho-carrosel">
                <h2>Coletiva Seletiva</h2>
                <img id="img-carrosel" src="../static/imagens/noticias_561 1.png" alt="">
                <h3>Sobre</h3>
                <p>Ações de coleta seletiva em condominios e predios!</p>
            </div>
            <div class="filho-carrosel">
                <h2>Agentes Ambientais</h2>
                <img id="img-carrosel" src="../static/imagens/epiparacoletadelixoquaissaoositensdeusoobrigatorio 1.png" alt="">
                <h3>Sobre</h3>
                <p>O projeto de Agentes Ambientais consiste em capacitar cidadãos para atuar na sensibilização da população local </p>
            </div>
            <div class="carrosel-controles">
                <span class="anterior">&#10094;</span>
                <span class="proximo">&#10095;</span>
            </div>
        </div>
    </section>
</body>
</html>