<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/scripts/login.js"></script>
    <script src="../static/scripts/Auth.js"></script>
    <link rel="website icon" href="../static/imagens/icons8-reciclagem-50 1.png">
    <link rel="stylesheet" href="../static/pages/login/login.css">
    <title>Login</title>
</head>
<body>
    <form class="formulario-login" action="">

        <img class="imagem-login" src="../static/imagens/recycle-icon-93a07e 1.png" alt="">
        <h1 class="texto-formulario">Eco Cycle</h1>
        <p class="texto-formulario">Faça login e comece a usar!</p>

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        
        <label class="texto-formulario" for="email">Endereço de Email
            <input id="login-email" class="input-formulario" placeholder="joãopaulo55@gmail.com" type="email">
        </label>

        <label class="texto-formulario" for="password">Sua senha
             <input id="login-password" class="input-formulario" placeholder="*************" type="password">
        </label>

        <label class="checkbox-formulario" for="check">
            <input class="input-formulario"  type="checkbox">
            Lembrar de Mim
        </label>
        <div class="g-recaptcha" data-sitekey="{{ config['RECAPTCHA_SITE_KEY'] }}"></div>

        <button class="botao-login"> Entrar na plataforma</button>
        <a class="link-formulario" href="">Esqueceu sua senha ?</a>
        <a class="link-formulario" href="./cadastro.html">Não tem conta ? se registre agora!</a>
    </form>
</body>
</html>