.botao-ecomap {
    height: 40px;
    width: 50px;
    border-radius: 200%;
    font-size: 30px;
    background-color: #2BA84A;
    color: #fff;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}

.botao-ecomap:hover {
    opacity: 60%;
}

