@import '../../../CSS/GLOBAL/Variables.CSS';


.header-ecomap{
    display: flex;
    background-color: var(--Cor-fundo);
    width: 70vw;
    height: 10vh;
    position: relative;
    justify-self: center;
    margin-bottom: 10px ;
    border-bottom: 5px solid var(--Cor-verde);
}